<button class="button chat-tab ss-chat js-toggle-chat" ng-class="$ctrl.klasses" ng-init="showChatWidget = false" ng-click="showChatWidget = !showChatWidget">
  <prm-icon style="z-index:1" icon-type="svg" svg-icon-set="{{$ctrl.config.icon.set}}" icon-definition="{{$ctrl.config.icon.icon}}"></prm-icon>
  {{$ctrl.config.prompt}}
</button>
<div class="chat-frame-wrap" ng-class="$ctrl.klasses" ng-show="showChatWidget">
  <button class="chat-close ss-icon js-toggle-chat" title="Close chat window" ng-click="showChatWidget = !showChatWidget" aria-label="Close chat window">&times;</button>
  <div ng-if="$ctrl.mode === 'iframe'" class="libraryh3lp chat-frame" data-cy="libraryh3lp-iframe-mode">
    <iframe title="Ask a Librarian Chat" ng-src="{{$ctrl.config.url | trustUrl}}" frameborder="0"></iframe>
  </div>
  <div ng-if="$ctrl.mode === 'script'" class="needs-js" data-cy="libraryh3lp-script-mode">Chat loading...</div>
</div>